* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F5F4F8;
}

.header {
  height: 70px;
  background-color: #fff;
}

.header__container {
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 60px;
  height: 60px;
}

.logo {
  width: inherit;
  height: inherit;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.header__nav--item {
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #F5F4F8;
  border-radius: 50%;
  background-color: #F5F4F8;
  cursor: pointer;
  position: relative;
}

.header__nav--item:nth-child(2) {
  color: #3F197D;
  border: 1px solid #3F197D;
  border-radius: 50%;
  background-color: #fff;
  padding-bottom: 2px;
}

.header__nav--item > .person {
  padding: 0;
}

.icon {
  color: #F5F4F8;
  object-fit: cover;
}

.menu {
  position: relative;
}

.menu-line {
  top: 15px;
  cursor: pointer;
}

.menu-line,
.menu-line::before,
.menu-line::after {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #3F197D;
  position: relative;
}

.menu-line::before {
  content: "";
  top: -6px;
}

.menu-line::after {
  content: "";
  top: 4px;
}

.person {
  display: none;
}

.person__photo {
  object-fit: contain;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -5px;
  left: -5px;
}

.active {
  display: none;
  background-color: #00D99C;
}

.logged #user {
  display: none;
}

.logged .active,
.logged .bell,
.logged .bell__decore,
.logged .person {
  display: block;
}

.bell {
  display: none;
}

.bell__decore {
  position: absolute;
  left: 70%;
  top: -5px;
  display: none;
  width: 15px;
  height: 15px;
  border: 1px solid #E7004A;
  border-radius: 50%;
  background-color: #E7004A;
  color: #fff;
  font-size: 12px;
  padding-left: 4px;
}

.main {
  display: flex;
  justify-content: center;
}

.toggle-btn {
  width: 90px;
  height: 60px;
  outline: none;
  background-color: #fff;
  border: 1px solid #FF98AB;
  border-radius: 20%;
  box-shadow: 5px 5px 5px#fa899e;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}

.toggle-btn:hover {
  background-color: #F5F4F8;
}

@media screen and (max-width: 750px) {
  .header__nav {
    width: 80px;
  }

  .active,
  .header__nav--item:first-child,
  .bell {
    display: none;
  }

  .logged .active,
  .logged .bell {
    display: none;
  }
}
